<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <script th:src="@{/static/jquery.min.js}"></script>
    <script th:src="@{/static/bootstrap.bundle.min.js}"></script>
    <title>Login Page</title>
</head>
<body>

</body>
</html>